.message-container {
  margin-bottom: 10px;

  .message {
    background-color: #ccc;
    border-radius: 10px;
    padding: 5px;
    float: left;
    width: 40%;
  }
  .authored {
    background-color: blue;
    float: right;
    text-align: right;
  }
  .sunk {
    box-shadow: 2px 2px 2px green;
  }
}
.message-container:after {
  content: '';
  display: table;
  clear:both;
}
